*~
bin
obj
*.user
*.suo
*.bak
*.sln.cache
_ReSharper*
*/build
*/test-results
*.pidb
*.usertasks
*.userprefs
*.orig
*.vssscc
*.ncrunchproject
*.ncrunchsolution
*.cache
/src/packages
/src/*.scmp
/src/TestResults
