<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings >
    <add key="authEnableLocalAuth" value="true"/>
    <add key="authEnableOpenAuth" value="true" />
    <add key="authEnableAzureAD" value="false" />
    <add key="authAzureAppTenant" value="saradev-rda.onmicrosoft.com" />
    <add key="authAzureAppClientID" value="REMOVED" />
    <add key="authAzureAppClientSecret" value="REMOVED" />
    <add key="authAzureGroupId" value="REMOVED" />
    <add key="authEnableMS" value="false" />
    <add key="authMSAppClientID" value="REMOVED"/>
    <add key="authMSAppClientSecret" value="REMOVED"/>
    <add key="authEnableGoogle" value="false" />
    <add key="authGoogleAppClientID" value="REMOVED.apps.googleusercontent.com"/>
    <add key="authGoogleAppClientSecret" value="REMOVED"/>
    <add key="authEnableLocalAD" value="true" />
    <add key="authLocalADGroup" value="Domain Users" />
    <add key="authGenericAuthFailureMessage" value="Your login attempt has failed." />
  </appSettings>
  <trace enabled="true" localOnly="false" mostRecent="true" pageOutput="true" requestLimit="0" traceMode="SortByTime" writeToDiagnosticsTrace="true" />
  <system.diagnostics>
    <switches>
      <add name="RDALogLevelSwitch" value="Info" />
    </switches>
    <sharedListeners>
      <!--<add name="file" type="System.Diagnostics.XmlWriterTraceListener" 
           initializeData="Logs\Trace.svclog" />-->
      <add name="file" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Logs\AuthTrace.log" traceOutputOptions="ProcessId, ThreadId, DateTime" />
    </sharedListeners>
    <sources>
      <source name="System.ServiceModel" switchValue="Error" propagateActivity="true">
        <listeners>
          <add name="file" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Error" propagateActivity="true">
        <listeners>
          <add name="file" />
        </listeners>
      </source>
      <source name="System.IdentityModel" switchValue="Error">
        <listeners>
          <add name="file" />
        </listeners>
      </source>
      <source name="System.ServiceModel.Activation" switchValue="Error" propagateActivity="true">
        <listeners>
          <add name="file" />
        </listeners>
      </source>
      <source name="System.IO.Log" switchValue="Error" propagateActivity="true">
        <listeners>
          <add name="file" />
        </listeners>
      </source>
      <source name="System.Runtime.Serialization" switchValue="Error">
        <listeners>
          <add name="file" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true">
      <listeners>
        <!--Windows Azure providers should not be cleared!!!-->
        <!--<clear />-->
        <add name="file" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>