<!DOCTYPE html>
<html>
<head>
	<title>WebADAAL Login</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<!-- bootstrap.css from Cerulean theme -->
	<link rel="stylesheet" href="bootstrap.css">
	<link rel="stylesheet" href="bootstrap-theme.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>

<div class="panel-logon">

    <h4>Log On</h4>
    <span>Please enter your user name and password.</span>
    <legend>Account Information</legend>

    <form role="form" data-ng-submit="logonUser()" ng-controller="AuthCtrl">
        <fieldset ng-disabled="!enabled">
            <div>
                <div class="form-group">
                    <label for="UserName">Application Group:</label>
                    <input class="form-control input-sm"
                           ng-model="auth.credentials.appGroup" auto-fill-sync>
                </div>

                <div class="form-group">
                    <label for="UserName">User Name:</label>
                    <input class="form-control input-sm"
                           ng-model="auth.credentials.email" auto-fill-sync>
                </div>

                <div class="form-group">
                    <label for="Password">Password:</label>
                    <input class="form-control input-sm" type="password"
                           ng-model="auth.credentials.password" auto-fill-sync>
                </div>
				
                <div class="panel-logon-footer">
                    <div class="panel-logon-info">
                        <button type="submit" class="btn btn-sm btn-primary pull-right">&nbsp;&nbsp;&nbsp;Log On&nbsp;&nbsp;&nbsp;</button>
                    </div>
                    <div>
                        <span style="font-size: 14px;">
                            Active Directory Tools
                        </span><br />
                        <span style="font-size: 11px;">By Resource Development Associates</span>
                    </div>
               </div>
			</div>
		</fieldset>
	</form>

</div>
</body>
</html>