/* RDA */
.panel-logon {
	float: none !important;
	max-width: 467px;
	margin: 70px auto !important;
	padding: 24px 32px 28px 32px !important;
	overflow: hidden;
	/**/
	background-color: rgba(250,250,250,0.5);
	border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), 
    			inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.panel-logon h4 {
	margin-top: 0;
	font-size: 22px;
}

.panel-logon legend {
    font-size: 16px;
    margin-bottom: 12px;
    line-height: 42px;
}

.pull-right {
  float: right !important;
}

.panel-logon .panel-logon-info h5 {
	margin: 0;
}



