@{
    ViewData["Title"] = "About";
}
<h2>Active Directory Tools</h2>
<h3>Connection Authentication to Active Directory and Authorization Verification for Intranet Applications</h3>

<p>The purpose of ADT is to provide C# code test tools for supporting authentication to Active Directory (AD),
    and authorization verification for users of an Intranet application where their identities are managed in an AD security group.
    The typical user of ADT will be an Active Directory Domain Administrator, a C# application developer or both.</p>
