@{
    ViewData["Title"] = "Contact";
}
<h2>Contact RDA</h2>
<h3>Resource Development Associates</h3>

<address>
    230 4th Street<br />
    Oakland, CA 94607<br />
    <abbr title="Phone">P:</abbr>
    510.488.4345
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
